[submodule "third-party/DynamixelSDK"]
	path = third-party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK
[submodule "third-party/osqp"]
	path = third-party/osqp
	url = https://github.com/osqp/osqp
[submodule "third-party/osqp-eigen"]
	path = third-party/osqp-eigen
	url = https://github.com/robotology/osqp-eigen
[submodule "third-party/proxsuite"]
	path = third-party/proxsuite
	url = https://github.com/Simple-Robotics/proxsuite.git
[submodule "third-party/daqp"]
	path = third-party/daqp
	url = https://github.com/darnstrom/daqp.git
